body {
    font-family: sans-serif;
  }
  
  #search-button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  #superhero-list {
    display: none;
    padding: 10px;
    border: 1px solid black;
  }