body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.seacrhclass p {
    margin-bottom: 10px;
    padding-left: 50px;
    text-align: left;
}

.searchfield {
    justify-content: left;
    align-items: center;
    flex-direction: row; 
    display: flex;
    padding-left: 50px;

}

.SearchInput {
    padding: 10px;
    margin-right: 10px;
    width: 900px; 
    height:50px;
    box-sizing: border-box;
}


.btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.display {
    
    margin-top: 20px;
    text-align: left;
    /*padding-left: 50px*/
}

.result {
    padding: 10px;
    font-family: sans-serif;
    text-align: left;
    padding-left: 50px;
    
 
}

.display h2{
    padding-left: 50px;
    text-align: left;
}

#searchButton {
    background-color: red;
    color: black;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    text-transform: uppercase; 
    font-weight: bold; 
    display:flex;
    flex-direction: row;
}

#superhero-list {
    display: flex;
    padding: 10px;
    border: 1px solid black;
}
